.transaction-container {
    background-color: #bdd5ed;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 14px 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  
  .transaction-field {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    width: 400px;
  }
  
  .field-label {
    font-weight: bold;
    color: #4a5568;
    display:flex;
    align-items: center;
    
  }
  
  .field-value {
    color: #2d3748;
  }
  