/* ArtGallery.css */

.art-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .art-piece {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 580px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  .art-piece:hover {
    transform: scale(1.05);
  }
  
  .art-piece img {
    width: 100%;
    border-radius: 10px;
  }
  
  .art-piece h2 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .art-piece p {
    margin: 10px 0;
  }
  
  

.art-piece button{
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.9em;
    background: linear-gradient(90deg, rgba(233, 194, 17, 1) 0%, rgba(240, 197, 22, 1) 45%, rgba(235, 139, 21, 1) 100%);
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
}