body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.art-gallery {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.art-piece {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.art-piece:hover {
  transform: scale(1.05);
}

.art-piece img {
  width: 100%;
  border-radius: 10px;
}

.art-piece h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.art-piece p {
  margin: 10px 0;
}

.likes button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.likes button:hover {
  background-color: #e5533d;
}

.comments {
  margin-top: 20px;
}

.comments ul {
  list-style-type: none;
  padding: 0;
}

.comments li {
  background-color: #f1f1f1;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

.comments form {
  display: flex;
  flex-direction: column;
}

.comments input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comments button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.comments button:hover {
  background-color: #45a049;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.form-container input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.form-container button:hover {
  background-color: #0056b3;
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-container p {
  margin: 0;
  text-align: center;
}

.form-container a {
  color: #007BFF;
  text-decoration: none;
  transition: color 0.2s;
}

.form-container a:hover {
  color: #0056b3;
}
.login-container{

  margin-top: 80px;

  margin-left: 550px;
  
  
}
.heading{
margin-left: 570px;
}
input{
  width: 200px;
  height: 30px;
  border-radius: 80px;

}
.Loginbtn{
  border-radius: 100px;
  padding: 12px;
background-color: rgb(223, 206, 185);
  margin-left: 70px;
  text-align: center;
  justify-content: center;
}
.register-container{
  margin-top: 50px;
  border-radius: 50px;
  height: 520px;
}


