.App {
  text-align: center;
}

.art-gallery {
  width: 100vw;
 margin-left: -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.art-piece {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.art-piece img {
  width: 100%;
  border-radius: 10px;
}

.art-piece h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.art-piece p {
  margin: 10px 0;
}

.likes button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.likes button:hover {
  background-color: #e5533d;
}

.comments {
  margin-top: 20px;
}

.comments ul {
  list-style-type: none;
  padding: 0;
}

.comments li {
  background-color: #f1f1f1;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

.comments form {
  display: flex;
  flex-direction: column;
}

.comments input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.comments button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.comments button:hover {
  background-color: #45a049;
}
